*{
  box-sizing:border-box;
}

body{
  margin:0;
  min-height:100vh;
  background:#101010;
  color:white;
  font-family:Arial,sans-serif;
}

.calculator{
  width:100%;
  max-width:500px;
  margin:auto;
  padding:20px;
}

.top{
  text-align:center;
  margin-bottom:20px;
}

.logo{
  width:100px;
  height:100px;
  margin:0 auto 15px;
  border-radius:50%;
  border:4px solid #ff9800;
  background:#1d1d1d;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-shadow:0 0 20px rgba(255,152,0,.35);
}

.logo-title{
  color:#ff9800;
  font-size:22px;
  font-weight:bold;
}

.logo-sub{
  color:white;
  font-size:12px;
  margin-top:3px;
}

h1{
  color:#ff9800;
  font-size:28px;
  margin:0;
}

#display{
  width:100%;
  min-height:85px;
  background:#202020;
  border-radius:18px;
  margin-bottom:15px;
  padding:20px;
  text-align:right;
  font-size:40px;
  overflow-x:auto;
  white-space:nowrap;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

button{
  border:none;
  border-radius:14px;
  min-height:60px;
  font-size:22px;
  font-weight:bold;
  background:#303030;
  color:white;
}

button:active{
  transform:scale(.95);
}

.operator{
  background:#ff9800;
}

.equal{
  background:#ff9800;
  grid-column:span 2;
}

.danger{
  background:#c62828;
}

.zero{
  grid-column:span 2;
}

.history-section{
  margin-top:30px;
}

.history-title{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.history-title h2{
  color:#ff9800;
  margin:0;
}

.history-title button{
  min-height:auto;
  padding:10px 15px;
  font-size:14px;
  background:#333;
}

#history{
  margin-top:15px;
}

.history-item{
  background:#202020;
  padding:12px;
  border-radius:10px;
  margin-bottom:8px;
  color:#ddd;
  text-align:left;
}

@media(max-width:380px){

  .calculator{
    padding:12px;
  }

  #display{
    font-size:32px;
  }

  button{
    min-height:55px;
    font-size:19px;
  }

  h1{
    font-size:24px;
  }
}
